/* iconfont基本样式 */
.iconfont {
  font-family: 'iconfont' !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 自己的iconfont在线项目代码（我这里是teach-projects） */
@font-face {
  font-family: 'iconfont'; /* project id 1458169 */
  src: url('//at.alicdn.com/t/font_1458169_6kq6cf4fv38.eot');
  src: url('//at.alicdn.com/t/font_1458169_6kq6cf4fv38.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_1458169_6kq6cf4fv38.woff2') format('woff2'), url('//at.alicdn.com/t/font_1458169_6kq6cf4fv38.woff') format('woff'), url('//at.alicdn.com/t/font_1458169_6kq6cf4fv38.ttf') format('truetype'), url('//at.alicdn.com/t/font_1458169_6kq6cf4fv38.svg#iconfont') format('svg');
}
